 
 body{
    background-color:rgba(0, 102, 255, 0.388)
 }
 *{
    margin:0;
    padding;0
 }
    nav{
    background-color:black;
    color:white;
    display:block;
    padding:15px
 }
 ul,h1,li{
    display:inline
 }
ul{
    margin-left:60% 
}
li{
    color:gray;
    cursor: pointer;
}
li:hover{
    color:white
}
input{
    width:60%;
    padding:15px;
}
.searcher{
    padding:50px;
    text-align:center
}
.box{
    border-color:black;
    border-width:3px;
    border-style:solid;
    display:inline-block;
    width:225px;
    margin-left:15px;
}
.about {
  margin-top: 50px;
  text-align: center;
}
.contact{
    background-color:black;
    color:white
}