
 .login{
    color:white;
    justify-content: center;
    margin-left: 40%;
    margin-top: 200px;
    background-color: rgba(0, 255, 191, 0.54);
    width: fit-content;
    border-radius: 20px;
    padding: 2%;
    box-shadow: 0 5px 20px rgba(0, 255, 191, 0.54);
    

    
 }
 button{
   display: block;
 }
 .text{
  border-top: 20px;
 }
  
 body{
      background:url("https://img.freepik.com/premium-vector/vector-mountain-landscape-lake-highlands_981067-1238.jpg?semt=ais_hybrid&w=740&q=80");
 background-position: center;
 background-size:cover;
 background-repeat: no-repeat;
 height:50vh;
 margin:0
 
 }
 .text{
  border-radius: 100px;
 }
